*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

.card {
  background-color: #fff;
  width: 300px;
  padding: 0.8rem;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.qr-code {
  width: fit-content;
  margin-bottom: 2rem;
  border-radius: 12px;
}

.header {
  color: hsl(218, 44%, 22%);
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.content {
  color: hsl(220, 15%, 55%);
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
